body {
    font-family: 'Bebas Neue', cursive;
    margin: 0%;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
}

.pink-color {
    color: rgb(57, 187, 14)
}

.red {
    color: red
}

.orange {
    color: orangered
}

.font {
    font-size: 30px;
    color: rgb(173, 235, 4);
}

.paragraph {
    font-size: 20px;
    color: black
}

.flexible-container {
    display: flex;
}

.width {
    width: 100%
}

.width img {
    width: 65%
}

.width {
    padding-left: 5%;
    border-left: 10px solid royalblue;
}

.link-button {
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 6px;
    background-image: linear-gradient(yellow, red);
    font-style: Fira Sans;
    font-weight: 800;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    font-size: 50px;
    color: rgb(151, 65, 5);
}

.color2 {
    color: rgb(218, 9, 9);
    font-size: 50px;
}

.width-1 img {
    width: 80% padding-right:60px
}

.orange-1 {
    font-size: 35px;
}

.paragraph-1 {
    font-size: 25px;
    font-weight: 500;
}

.padding {
    padding-left: 15%;
    padding-right: 15%;
}

.resize {
    padding-left: 1%;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#developer {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 60px rgb(109, 3, 3);

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.css {
    border-left: 10px solid rgb(71, 5, 5);
}

footer {
    text-align: center;
    color: maroon;
}